<form [formGroup]="formGroup" style="padding:50px;">
  <div class="form-row" *ngFor="let rows of formViewBuilder">
    <div class="form-group" 
      [ngClass]="setWidth(col)"
      *ngFor="let col of rows">
        <label for="{{col.name}}">{{col.name | titlecase}}</label>
        <input type="{{col.type}}" 
          formControlName="{{col.name}}"
          [required]="col.required"
          id="{{col.name}}" 
          placeholder="{{col.name | titlecase}}"
          [class.is-invalid]="isValid(col.name)"
          class="form-control">
        <small *ngIf="col.description" id="{{col.name}}HelpBlock" class="form-text text-muted">
          {{col.description}}
        </small>
        <div class="invalid-feedback">
          Please choose a {{col.name}}.
        </div>
    </div>
  </div>
</form>